@page "/register"

    <link href="/Resource/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Resource/css/sb-admin.css" rel="stylesheet" type="text/css" />
    <link href="/Resource/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Resource/css/cos.css" rel="stylesheet" type="text/css" />
    <link href="/Resource/css/bootstrap-radio.css" rel="stylesheet" type="text/css" />
<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="login-page-img">
                    <img src="Resource/img/logo-shell-mobile.png" />
                </div>
                @if (divcheck_Visible)
                {
                    <div class="login-page-desc" id="divcheck">
                        <div>&nbsp;</div>
                        <p class="text-center">กรุณากรอกรหัส<br />A-CODE 6 หลัก</p>
                        <div>&nbsp;</div>
                        <div class="row">
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <input type="text" id="ACode" class="form-control" @bind="Acode_txt"
                                       placeholder="รหัส A-CODE 6 หลัก เช่น A123456" maxlength="7" />
                                </div>
                                <div>&nbsp;</div>
                                <div class="form-group">
                                    <button id="btnLogin" Text="" class="btn btn-danger btn-block login-button" @onclick="@chk_frm">ตกลง</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (divhave_Visible)
                {
                    <div class="login-page-desc" id="divhave" visible="false">
                        @if (havetext)
                        {
                            <p class="text-center" id="havetext">ร้านค้าของท่าน<br />มีการลงทะเบียนแล้ว</p>
                        }
                        else
                        {
                            <p class="text-center" id="havetext">กรุณาตรวจสอบข้อมูลร้านค้าของท่าน</p>
                        }
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-4 doupadding"><span>รหัส</span><span class="douright">:</span></div>
                                <div class="col-xs-8">@lblACode</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-4 doupadding"><span>ชื่อร้านค้า</span><span class="douright">:</span></div>
                                <div class="col-xs-8">@lblShopName</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-4 doupadding"><span>ชื่อศูนย์</span><span class="douright">:</span></div>
                                <div class="col-xs-8">@lblSiteName</div>
                            </div>
                        </div>
                        @if (divagree_Visible)
                        {
                            <div id="divagree">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div style="font-size:13px;background-color:#fff;border-radius:4px;padding:0 8px 2px;max-height:71px;overflow-y:scroll;">
                                                <b>นโยบายคุ้มครองข้อมูลส่วนบุคคล</b>
                                                <ol style="padding-left:14px;">
                                                    <li>
                                                        นิยาม<br />
                                                        “ท่าน” หมายถึง ผู้ใช้บริการเว็บไซต์<br />
                                                        “เรา” หมายถึง บริษัท เชลล์แห่งประเทศไทย จำกัด<br />
                                                        “เว็บไซต์” หมายถึง เว็บไซต์ และ/หรือแอปพลิเคชัน ซึ่งให้บริการโดยบริษัท เชลล์แห่งประเทศไทย จำกัด ทั้งนี้ ในกรณีที่เป็นแอปพลิเคชัน ให้นโยบายคุ้มครองส่วนบุคคลนี้ใช้บังคับรวมถึงแอปพลิเคชันในส่วนที่ได้มีการเปลี่ยนแปลง ปรับปรุง อัพเดต หรือเพิ่มเติมโดยบริษัท เชลล์แห่งประเทศไทย จำกัด เว้นแต่แอปพลิเคชันที่ได้มีการเปลี่ยนแปลง ปรับปรุง อัพเดต หรือเพิ่มเติมดังกล่าวจะถูกบังคับใช้ตามเงื่อนไขและข้อตกลงต่างหากจากนโยบายคุ้มครองข้อมูลส่วนบุคคลนี้<br />
                                                        “ข้อมูลส่วนบุคคล” หมายถึง ข้อมูลเกี่ยวกับบุคคลซึ่งทำให้สามารถระบุตัวบุคคลนั้นได้ไม่ว่าทางตรงหรือทางอ้อม ตามกฎหมายว่าด้วยการคุ้มครองข้อมูลส่วนบุคคล
                                                    </li>
                                                    <li>
                                                        รายละเอียดทั่วไป<br />
                                                        นโยบายคุ้มครองข้อมูลส่วนบุคคลนี้มีขึ้นเพื่อการชี้แจงรายละเอียดและวิธีการจัดการเกี่ยวกับข้อมูลส่วนบุคคลของผู้ใช้งาน โดยท่านรับทราบและตกลงว่า เราอาจดำเนินการปรับปรุงหรือแก้ไขนโยบายคุ้มครองข้อมูลส่วนบุคคลที่กำหนดดังต่อไปนี้ รวมทั้งที่ได้กำหนดไว้โดยเฉพาะเจาะจงอยู่ในส่วนใดส่วนหนึ่งของเว็บไซต์นี้ไม่ว่าบางส่วนหรือทั้งหมดเป็นครั้งคราว เพื่อให้สอดคล้องกับแนวทางการให้บริการและหลักเกณฑ์ของกฎหมายที่มีการเปลี่ยนแปลงไป โดยอาจไม่ได้แจ้งหรือบอกกล่าวให้ท่านทราบล่วงหน้า ดังนั้น ท่านจึงควรติดตามนโยบายคุ้มครองข้อมูลส่วนบุคคลที่กำหนดไว้นี้อยู่เสมอ อย่างไรก็ดี เราจะเผยแพร่การเปลี่ยนแปลงนโยบายคุ้มครองข้อมูลส่วนบุคคลในหน้าเว็บไซต์นี้ และในกรณีที่มีการเปลี่ยนแปลงในสาระสำคัญ เราจะแจ้งให้ท่านทราบ
                                                    </li>
                                                    <li>
                                                        ข้อมูล วิธีการเก็บรวบรวมข้อมูล และการนำข้อมูลไปใช้<br />
                                                        เราเก็บรวบรวมข้อมูลด้วยเทคโนยีต่าง ๆ เช่น คุกกี้ ซึ่งเป็นชิ้นส่วนข้อมูลเล็ก ๆ ที่เก็บอยู่ในอุปกรณ์ของท่านที่จะทำให้เว็บไซต์สามารถจดจำข้อมูลการเข้าถึงเว็บไซต์หรือวิธีที่ท่านใช้งานเว็บไซต์ในแต่ละครั้ง (ข้อมูลเพิ่มเติมเกี่ยวกับคุกกี้) โดยข้อมูลที่เกี่ยวข้องกับท่านที่เราเก็บรวบรวม (“ข้อมูลส่วนบุคคล”) ประกอบไปด้วย:<br />
                                                        ข้อมูลที่ท่านให้ไว้โดยตรง: เราจะรวบรวมข้อมูลที่ท่านส่งให้กับเรา เช่น ข้อมูลที่ท่านกรอกขณะลงทะเบียนสมัครใช้บริการ และข้อมูลการร่วมกิจกรรมต่าง ๆ ในเว็บไซต์ ข้อมูลการทำแบบสำรวจ ข้อมูลบัญชีผู้ใช้งาน (Account) หรือข้อมูลที่ท่านได้แก้ไขปรับปรุงในข้อมูลบัญชีผู้ใช้งาน (Account) ของท่าน หรือข้อมูลที่ได้จากการที่ท่านติดต่อกับเราหรือทีมงานของเรา หรือข้อมูลที่ได้จากบัญชีผู้ใช้งาน (Account) อื่น ๆ ที่เรามีเหตุอันควรเชื่อได้ว่าท่านควบคุมดูแลอยู่ อันรวมถึงแต่ไม่จำกัดเฉพาะ ข้อมูลทุกชนิดที่แสดงบนหน้าประวัติผู้ใช้งานและหน้าการสมัครบริการต่างๆ อาทิ ชื่อ-นามสกุล ที่อยู่ วัน/เดือน/ปี เกิด เพศ อายุ รูปถ่าย อีเมล เลขที่บัญชีธนาคาร หมายเลขบัตรเครดิต (ถ้ามี) หมายเลขบัตรประจำตัวประชาชน เลขประจำตัวผู้เสียภาษีอากร หมายเลขโทรศัพท์ รวมถึงข้อมูลเกี่ยวกับบัญชีผู้ใช้งาน ความสนใจ และความเห็นทุกอย่างที่ท่านได้แสดงผ่านเว็บไซต์ (ถ้ามี) เพื่อจัดเก็บไว้กับบัญชี<br />
                                                        ข้อมูลที่ได้รับจากการใช้บริการของท่าน: เราจะรวบรวมข้อมูลเกี่ยวกับบริการที่ท่านใช้และวิธีการใช้งานของท่าน ซึ่งข้อมูลเหล่านี้รวมถึงแต่ไม่จำกัดเฉพาะ ข้อมูลอุปกรณ์ที่ท่านใช้สำหรับการเข้าใช้งานเว็บไซต์ ข้อมูลจราจรทางคอมพิวเตอร์ (Log) ข้อมูลการติดต่อและสื่อสารระหว่างท่านและผู้ใช้งานรายอื่น และข้อมูลจากการบันทึกการใช้งาน เช่น ตัวระบุอุปกรณ์ หมายเลข IP ของคอมพิวเตอร์ รหัสประจำตัวอุปกรณ์ ประเภทอุปกรณ์ ข้อมูลเครือข่ายมือถือ ข้อมูลการเชื่อมต่อ ข้อมูลตำแหน่งที่ตั้งทางภูมิศาสตร์ ประเภทของเบราว์เซอร์ (Browser) ข้อมูลบันทึกการเข้าออกเว็บไซต์ ข้อมูลเว็บไซต์ที่ผู้ใช้งานเข้าถึงก่อนและหลัง (Referring Website) ข้อมูลบันทึกประวัติการใช้เว็บไซต์ ข้อมูลบันทึกการเข้าสู่ระบบ (Login Log) ข้อมูลรายการการทำธุรกรรม (Transaction Log) พฤติกรรมการใช้งาน (Customer Behavior) สถิติการเข้าเว็บไซต์ เวลาที่เยี่ยมชมเว็บไซต์ (Access Time) ข้อมูลที่ท่านค้นหา การใช้ฟังก์ชันต่าง ๆ ในเว็บไซต์ และข้อมูลที่เราได้เก็บรวบรวมผ่านคุกกี้หรือเทคโนโลยีอื่นที่คล้ายกัน<br />
                                                        ทั้งนี้ รายละเอียดตามข้างต้นเป็นตัวอย่างข้อมูลเราอาจจะเก็บรวบรวม โดยเราจะเก็บรวบรวมข้อมูลส่วนบุคคลของท่านเฉพาะข้อมูลที่จำเป็น และในระยะเวลานานเท่าที่จำเป็นเพื่อประโยชน์ในการใช้งานข้อมูลส่วนบุคคลตามที่ระบุไว้ในข้อ 4 เท่านั้น
                                                    </li>
                                                    <li>
                                                        การใช้งานข้อมูลส่วนบุคคล<br />
                                                        เรานำข้อมูลส่วนบุคคลไปใช้ในวัตถุประสงค์ดังต่อไปนี้<br />
                                                        เพื่อให้การใช้บริการเป็นไปด้วยความเรียบร้อยและสอดคล้องกับกฎหมาย หลักเกณฑ์ และระเบียบต่าง ๆ ที่เกี่ยวข้อง รวมถึงเพื่อการปฏิบัติหน้าที่ตามกฎหมาย และกฎเกณฑ์ที่เกี่ยวข้องหรือใช้บังคับกับเรา อันรวมถึงแต่ไม่จำกัดเฉพาะพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พระราชบัญญัติว่าด้วยการกระทำความผิดเกี่ยวกับคอมพิวเตอร์ ทั้งที่มีผลใช้บังคับในปัจจุบันและที่จะมีการแก้ไขหรือเพิ่มเติมในอนาคต<br />
                                                        เพื่อประโยชน์ในการยืนยันหรือระบุตัวตนของท่านเมื่อเข้าใช้งานบริการต่างๆ เพื่อตรวจสอบข้อมูลการใช้บริการของท่านเพื่อการพัฒนามาตรฐานความปลอดภัยในการใช้บริการ การจัดการและการคุ้มครองโครงสร้างพื้นฐานทางเทคโนโลยีสารสนเทศ โดยในส่วนนี้เราอาจนำข้อมูลส่วนบุคคลของท่าน เพียงเท่าที่จำเป็นและอาจดำเนินการให้มีการเข้ารหัส (Encrypt) ก่อนนำไปใช้และ/หรือจัดให้มีการสุ่มตรวจ การทดสอบการเข้าใช้งานโดยบุคคลอื่นเพื่อนำไปใช้ในการบริหารจัดการความเสี่ยง ตรวจจับ ป้องกัน หรือขจัดการฉ้อโกง หรือกิจกรรมอื่น ๆ ที่มีแนวโน้มว่าจะเป็นการละเมิดกฎหมาย ระเบียบการใช้งานที่เกี่ยวข้อง หรือข้อตกลงและเงื่อนไขการใช้งานเว็บไซต์ (“ข้อตกลงและเงื่อนไขการใช้”) ของเรา<br />
                                                        เพื่อเพิ่มประสิทธิภาพในการให้บริการงานด้านต่าง ๆ แก่ท่านมากยิ่งขึ้น<br />
                                                        เพื่อติดต่อท่าน ผ่านทางโทรศัพท์ ข้อความ (SMS) อีเมล หรือไปรษณีย์ หรือผ่านช่องทางใด ๆ เพื่อสอบถาม หรือแจ้งให้ท่านทราบ หรือตรวจสอบและยืนยันข้อมูลเกี่ยวกับบัญชีของท่าน หรือสำรวจความคิดเห็น หรือแจ้งข้อมูลข่าวสารอื่นใดที่เกี่ยวข้องกับการให้บริการของเราตามที่จำเป็น<br />
                                                        เพื่อประโยชน์อื่นใดที่เกี่ยวข้องกับการดำเนินธุรกิจของเรา เช่น เพื่อประโยชน์ในการศึกษา วิจัย จัดทำสถิติ พัฒนาการให้บริการและจัดทำการตลาดหรือการโฆษณาเป้าหมายที่เกี่ยวข้อง รวมถึงการจัดส่งเนื้อหา การโฆษณาประชาสัมพันธ์ กิจกรรมและโปรโมชันต่างๆ ตลอดจนการให้คำแนะนำต่าง ๆ ที่เหมาะสมเพื่อให้การให้บริการต่าง ๆ ตรงกับความสนใจของท่าน<br />
                                                        ทั้งนี้ การที่ท่านติดต่อสื่อสารกับเราหรือทีมงานของเราถือว่าท่านรับทราบและยอมรับว่า การติดต่อสื่อสารกับเราอาจมีการบันทึกเสียง หรือบันทึกรายละเอียดการติดต่อด้วยวิธีการใด ๆ
                                                    </li>
                                                    <li>
                                                        การเปิดเผยข้อมูลส่วนบุคคลต่อบุคคลภายนอก<br />
                                                        เราจะไม่เปิดเผยข้อมูลดังกล่าวต่อบุคคลใดโดยปราศจากการอนุญาตจากท่าน อย่างไรก็ดี เพื่อประโยชน์ในการให้บริการตามเว็บไซต์นี้ ท่านรับทราบและยินยอมว่า เราอาจเปิดเผยข้อมูลส่วนบุคคลของท่านให้กับ บริษัท เชลล์แห่งประเทศไทย จำกัด หรือพันธมิตรซึ่งทำงานร่วมกับเรา หรือบุคคลอื่นทั้งในและต่างประเทศ เช่น บุคคลที่เราได้ว่าจ้างให้ดำเนินงานที่เกี่ยวข้องกับข้อมูลส่วนบุคคล เพื่อนำข้อมูลส่วนบุคคลของท่านไปใช้เพื่อประโยชน์ในการเพิ่มประสิทธิภาพการให้บริการในด้านต่าง ๆ แก่ท่านมากยิ่งขึ้น หรือเพื่อปรับปรุงและพัฒนารูปแบบการให้บริการและการเข้าถึงเนื้อหาต่าง ๆ ในเว็บไซต์ การรักษาความปลอดภัยของเว็บไซต์และเครือข่ายที่ให้บริการโดยบริษัท สยามมิชลิน จำกัด หรือเพื่อประโยชน์ในการดำเนินกิจการของเรา (“ผู้รับข้อมูลต่อ”) โดยในการเปิดเผยข้อมูลส่วนบุคคลให้แก่บุคคลดังกล่าว เราจะดำเนินการให้บุคคลเหล่านั้นเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้เป็นความลับ และไม่นำไปใช้เพื่อวัตถุประสงค์อื่นนอกเหนือจากขอบเขตที่เราได้กำหนดไว้<br />
                                                        อย่างไรก็ดี หากท่านเชื่อว่าบุคคลที่เราเปิดเผยข้อมูลส่วนบุคคลของท่านตามข้างต้น ได้มีการนำข้อมูลส่วนบุคคลของท่านไปใช้เพื่อวัตถุประสงค์อื่นนอกเหนือจากขอบเขตที่เราได้กำหนดไว้ ท่านสามารถแจ้งเราเพื่อดำเนินการในส่วนเกี่ยวข้องต่อไป โดยเราขอแนะนำให้ท่านตรวจสอบไปพร้อมกันด้วยว่า ท่านได้มีการใช้งานเว็บไซต์ สินค้า หรือบริการของผู้รับข้อมูลต่อหรือไม่ เนื่องจากอาจเป็นไปได้ว่าผู้รับข้อมูลต่อดำเนินการเก็บรวบรวมข้อมูลบางอย่างเกี่ยวกับการใช้บริการของท่านจากการใช้งานเว็บไซต์ สินค้า หรือบริการของผู้รับข้อมูลต่อ ซึ่งในกรณีดังกล่าวเราไม่สามารถรับผิดชอบในความปลอดภัยหรือความเป็นส่วนตัวของข้อมูลใด ๆ ของท่านที่เก็บรวบรวมโดยเว็บไซต์ ผลิตภัณฑ์ หรือบริการของผู้รับข้อมูลต่อดังกล่าวได้ ท่านจึงควรใช้ความระมัดระวังและตรวจสอบนโยบายคุ้มครองข้อมูลส่วนบุคคลของเว็บไซต์ ผลิตภัณฑ์ และบริการของผู้รับข้อมูลต่อด้วย<br />
                                                        นอกจากนี้ เราอาจเปิดเผยข้อมูลส่วนบุคคลของท่านภายใต้หลักเกณฑ์ที่กฎหมายกำหนด เช่น การเปิดเผยข้อมูลต่อหน่วยงานราชการ หน่วยงานภาครัฐ หน่วยงานที่มีหน้าที่กำกับดูแลการให้บริการ หรือหน่วยงานกำกับดูแลท่าน รวมถึงในกรณีที่มีการร้องขอให้เปิดเผยข้อมูลโดยอาศัยอำนาจตามกฎหมาย อาทิ การร้องขอข้อมูลเพื่อการฟ้องร้องหรือดำเนินคดีตามกฎหมาย หรือเป็นการร้องขอจากหน่วยงานเอกชน หรือบุคคลภายนอกอื่น ๆ ที่มีความเกี่ยวข้องกับกระบวนการทางกฎหมาย รวมถึงในกรณีที่มีความจำเป็นตามสมควรในการบังคับใช้ข้อตกลงและเงื่อนไขการใช้ของเรา ตลอดจนการเปิดเผยข้อมูลในกรณีที่มีการปรับโครงสร้างองค์กร การควบรวมบริษัท หรือการขายกิจการ เราอาจถ่ายโอนข้อมูลส่วนบุคคลของท่านไม่ว่าทั้งหมดหรือบางส่วนที่เราเก็บรวบรวมไว้ไปยังบริษัทที่เกี่ยวข้อง
                                                    </li>
                                                    <li>
                                                        การเข้าถึงและการปรับปรุงข้อมูลส่วนบุคคล<br />
                                                        หากท่านไม่ประสงค์จะรับข้อมูลและข่าวสารประชาสัมพันธ์จากเรา<br />
                                                        ขอให้ท่านแจ้งเราทาง บริษัท เชลล์แห่งประเทศไทย จำกัด ในกรณีดังต่อไปนี้
                                                        <ul style="padding-left:14px;">
                                                            <li>หากท่านเชื่อว่าเราเก็บรวบรวมข้อมูลส่วนบุคคลของท่าน และท่านประสงค์จะเข้าถึงหรือรับทราบรายละเอียดเกี่ยวกับข้อมูลส่วนบุคคลของท่านที่เราได้จัดเก็บไว้</li>
                                                            <li>หากท่านประสงค์จะปรับปรุงแก้ไขข้อมูลส่วนบุคคลของท่านให้มีความถูกต้อง สมบูรณ์ และเป็นปัจจุบัน   </li>
                                                            <li>หากท่านประสงค์จะให้เราดำเนินการลบข้อมูลส่วนบุคคลของท่านออกจากระบบ หรือฐานข้อมูลลูกค้าของเรา</li>
                                                        </ul>
                                                        ทั้งนี้ ในกรณีที่ท่านไม่ยินยอมให้เราใช้ข้อมูลส่วนบุคคลของท่าน หรือให้เราดำเนินการลบข้อมูลส่วนบุคคลของท่านออกจากระบบของเรา อาจทำให้ท่านไม่สามารถรับบริการจากเราได้ หรืออาจทำให้บริการที่ท่านได้รับจากเราไม่มีประสิทธิภาพเท่าที่ควร<br />
                                                        เราจะพยายามอย่างเต็มที่ตามความสามารถของระบบงานที่เกี่ยวข้องเพื่ออำนวยความสะดวกและดำเนินการตามคำร้องขอของท่าน เว้นแต่จะปรากฏข้อเท็จจริงว่า การดำเนินการตามคำร้องขอนั้นเสี่ยงต่อการละเมิดนโยบายความเป็นส่วนตัวของผู้ใช้งานรายอื่น หรือเป็นการขัดต่อกฎหมาย หรือนโยบายความปลอดภัยของระบบ หรือกรณีที่เป็นการพ้นวิสัยในทางปฏิบัติตามคำร้องขอของผู้ลงทะเบียน<br />
                                                        หมายเหตุ :<br />
                                                        ในกรณีที่มีการร้องขอให้ลบข้อมูลส่วนบุคคลของท่านจากระบบนั้น เราจะพยายามเต็มที่ในการลบข้อมูลของท่านออกจากระบบด้วยเทคโนโลยี ตามความสามารถของระบบปฏิบัติงานที่มีอยู่ในปัจจุบัน อย่างไรก็ดีข้อมูลดังกล่าวอาจจะยังคงได้รับการบันทึกหรือทำสำเนาไว้ที่เซิร์ฟเวอร์ (Server) หรือระบบสำรอง (Backup System) ของเรา เพื่อเป็นการสำรองข้อมูลในกรณีที่เกิดความผิดพลาด บกพร่อง หรือเกิดจากความขัดข้องของระบบ หรือในกรณีที่เกิดจากการการกระทำใด ๆ ที่มีจุดประสงค์มุ่งร้ายต่อบุคคลหรือซอฟต์แวร์อื่น ตลอดจนเพื่อเก็บเป็นพยานหลักฐาน หรือเพื่อปฏิบัติตามหน้าที่ตามกฎหมายที่ใช้บังคับ<br />
                                                        หากท่านเชื่อว่า การเก็บรวมรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของท่าน เราได้ดำเนินการให้สอดคล้องกับ พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล และ  General Data Protection Regulation ของสหภาพยุโรป และท่านมีความประสงค์หรือมีข้อสังสัยเกี่ยวกับสิทธิของเจ้าของข้อมูลส่วนบุคคลดังต่อไปนี้ ขอให้ท่านแจ้งเราทาง บริษัท เชลล์แห่งประเทศไทย จำกัด
                                                        <ul style="padding-left:14px;">
                                                            <li>สิทธิในการได้รับแจ้งข้อมูล (Right to be Informed)</li>
                                                            <li>สิทธิในการเข้าถึงข้อมูล (Right of Access)</li>
                                                            <li>สิทธิในการแก้ไขข้อมูล (Right to Rectification)</li>
                                                            <li>สิทธิในการลบข้อมูล (Right to Erasure)</li>
                                                            <li>สิทธิในการจำกัดการประมวลข้อมูล (Right to Restrict Processing)</li>
                                                            <li>สิทธิในการขอโอนข้อมูล (Right to Data Portability)</li>
                                                            <li>สิทธิในการทักท้วง (Right to Object)</li>
                                                            <li>สิทธิที่จะไม่อยู่ภายใต้การตัดสินใจจากการประมวลผลโดยอัตโนมัติ (Right not to be subject to a Decision Based Solely on Automated Processing, including Profiling)</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        ความปลอดภัยในการเก็บรักษาข้อมูลส่วนบุคคล<br />
                                                        เราได้จัดทำและ/หรือเลือกใช้ระบบการจัดเก็บข้อมูลส่วนบุคคลให้มีกลไกและเทคนิคที่เหมาะสม รวมทั้งจำกัดการเข้าถึงข้อมูลส่วนบุคคลของท่านจากพนักงาน ลูกจ้าง และตัวแทนของเรา เพื่อป้องกันไม่ให้ข้อมูลส่วนบุคคลของท่านถูกนำไปใช้ เปิดเผย ทำลาย หรือเข้าถึงโดยไม่ได้รับอนุญาต อย่างไรก็ตาม เราไม่อาจรับรองได้ว่าจะไม่มีความบกพร่องหรือความผิดพลาดใด ๆ เกิดขึ้นจากการดำเนินการตามนโยบายดังกล่าว ดังนั้น เราจึงขอสงวนสิทธิ์ที่จะปฏิเสธความรับผิดในความเสียหายหรือสูญหายใด ๆ ที่เกิดขึ้นในทุกกรณี
                                                    </li>
                                                    <li>
                                                        การเชื่อมโยงไปยังเว็บไซต์ ผลิตภัณฑ์และบริการของบุคคลภายนอก<br />
                                                        เว็บไซต์ของเราอาจมีลิงก์เชื่อมโยงไปยังเว็บไซต์ ผลิตภัณฑ์ และบริการของบุคคลภายนอก ซึ่งบุคคลภายนอกเหล่านั้นอาจเก็บรวบรวมข้อมูลบางอย่างเกี่ยวกับการใช้บริการของท่าน โดยเราไม่สามารถรับผิดชอบในความปลอดภัยหรือความเป็นส่วนตัวของข้อมูลใด ๆ ของท่านที่เก็บรวบรวมโดยเว็บไซต์ ผลิตภัณฑ์ หรือบริการของบุคคลภายนอกดังกล่าว ท่านควรใช้ความระมัดระวังและตรวจสอบนโยบายคุ้มครองข้อมูลส่วนบุคคลของเว็บไซต์ ผลิตภัณฑ์ และบริการของบุคคลภายนอกเหล่านั้นด้วย
                                                    </li>
                                                    <li>
                                                        การใช้บังคับนโยบายคุ้มครองข้อมูลส่วนบุคคล<br />
                                                        ท่านตกลงและรับทราบว่า นโยบายคุ้มครองข้อมูลส่วนบุคคลนี้มีผลใช้บังคับกับข้อมูลส่วนบุคคลทั้งหมดที่เราเป็นผู้เก็บรวบรวม และท่านตกลงให้เรามีสิทธิในการเก็บ รักษา และนำข้อมูลส่วนบุคคลของท่านที่เราได้รวบรวมไว้แล้ว (หากมี) ตลอดจนข้อมูลส่วนบุคคลของท่านที่เราจัดเก็บในปัจจุบัน และที่จะได้จัดเก็บในอนาคต ไปใช้ หรือเปิดเผยแก่บุคคลอื่น ภายในขอบเขตตามที่ระบุไว้ในนโยบายคุ้มครองข้อมูลส่วนบุคคลนี้
                                                    </li>
                                                    <li>
                                                        กฎหมายที่ใช้บังคับ<br />
                                                        ท่านรับทราบและตกลงให้ “นโยบายคุ้มครองข้อมูลส่วนบุคคล” นี้ อยู่ภายใต้การบังคับและตีความตามกฎหมายไทย และศาลไทยเป็นผู้มีอำนาจในการพิจารณาข้อพิพาทใดที่อาจเกิดขึ้น
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" id="Agree" @bind="Agree_Checkbox" />
                                                <label for="Agree" style="font-size:13px;">ข้าพเจ้าได้อ่านและยอมรับข้อกำหนดและเงื่อนไข</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (divhavedclose_Visible)
                        {
                            <div id="divhavedclose" visible="false">
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <div class="text-center"><span>------------------------------</span></div>
                                <div>&nbsp;</div>
                                <div class="text-center"><span>กดปุ่ม “X” มุมบนเพื่อปิดหน้าจอนี้</span></div>
                                <div>&nbsp;</div>
                            </div>
                        }
                    </div>
                }
                @if (divcorrect_Visible)
                {
                    <div class="login-page-desc" id="divcorrect" visible="false">
                        <div>&nbsp;</div>
                        <p class="text-center">การลงทะเบียนของท่านเสร็จสมบูรณ์<br />กรุณารอข้อความตอบรับการอนุมัติ</p>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div class="text-center"><span>------------------------------</span></div>
                        <div>&nbsp;</div>
                        <div class="text-center"><span>กดปุ่ม “X” มุมบนเพื่อปิดหน้าจอนี้</span></div>
                        <div>&nbsp;</div>
                    </div>
                }
                @if (divincorrect_Visible)
                {
                    <div class="login-page-desc" id="divincorrect" visible="false">
                        <div>&nbsp;</div>
                        <p class="text-center">ขออภัยสำหรับความผิดพลาดที่เกิดขึ้น<br />เจ้าหน้าที่จะดำเนินการตรวจสอบแก้ไขและแจ้งกลับ<br />เพื่อลงทะเบียนใหม่อีกครั้ง</p>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div class="text-center"><span>------------------------------</span></div>
                        <div>&nbsp;</div>
                        <div class="text-center"><span>กดปุ่ม “X” มุมบนเพื่อปิดหน้าจอนี้</span></div>
                        <div>&nbsp;</div>
                    </div>
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
@if (divhaved_Visible)
{
    <div class="footer" id="divhaved" visible="false">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    <div class="form-group">
                        <button id="btnIncorrect" class="btn btn-danger btn-block linkload" @onclick="@btnIncorrect_Click" style="background-color:#D42E12;border-color:#D42E12;">ไม่ถูกต้อง</button>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-group">
                        <button id="btnCorrect" class="btn btn-danger btn-block login-button" @onclick="@chk_con" style="background-color:#F7D117;border-color:#F7D117;color:#58595B;">ถูกต้อง</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
}


@if (spinner_Visible)
{
    <!-- backdrop & spinner -->
    <div id="backdrop-spinner">
        <div class="text-center loading">
            <div class="spinner"></div>
        </div>
    </div>
}


@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? uid { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public string? q { get; set; }
    //VISIBLE
    public bool divhave_Visible = false;
    public bool divhavedclose_Visible = false;
    public bool divcorrect_Visible = false;
    public bool divincorrect_Visible = false;
    public bool divhaved_Visible = false;
    public bool divagree_Visible = true;
    public bool havetext = false;
    public bool divcheck_Visible = true;
    //
    public string Acode_txt = "A";
    public string? hdfUID;
    public string? curr_date = DateTime.Now.ToString("dd/MM/") + DateTime.Now.Year;
    public string? curr_date_full = DateTime.Now.ToString("dd/MM/") + DateTime.Now.Year + " " + DateTime.Now.ToString("HH:mm:ss");
    public string? hdfLineName;
    public bool hdfCorrect = false;
    public bool Agree_Checkbox = false;
    //text
    public string? lblACode;
    public string? lblShopName;
    public string? lblSiteName;

    // LINE
    string keyword = "";
    string jsondata = "", content = "";
    
    public bool spinner_Visible = false;


    protected override void OnInitialized()
    {
        try
        {
            hdfUID = Encoding.UTF8.GetString(Convert.FromBase64String(uid));
            string q_Decode = Encoding.UTF8.GetString(Convert.FromBase64String(q));
            string[] prq = q_Decode.Split('&');
            foreach (string prqitem in prq)
            {
                string[] paramq = prqitem.Split('=');
                if (paramq.Length > 1)
                {
                    if (paramq[0] == "displayName")
                    {
                        hdfLineName = HttpUtility.UrlDecode(paramq[1], Encoding.UTF8);
                    }
                }
            }
            using (var db = new SHELLREGContext())
            {
                var query_t = db.TradeOwners.Where(t => t.LineUid == hdfUID);
                if (query_t.Any())
                {
                    var current_t = query_t.First();
                    lblACode = current_t.Acode;
                    lblShopName = current_t.ShopName;
                    lblSiteName = current_t.SiteName;
                    divcheck_Visible = false;
                    divhave_Visible = true;
                    havetext = true;
                    divhaved_Visible = false;
                    divhavedclose_Visible = true;
                    divagree_Visible = false;
                }
            }

        }
        catch (Exception ex)
        {
            Navigation.NavigateTo("/error");
        }
    }
    async Task btnIncorrect_Click()
    {
        spinner_Visible = true;
        await Task.Delay(1);

        try
        {
            divhave_Visible = false;
            divhaved_Visible = false;
            divincorrect_Visible = true;

            using (var db = new SHELLREGContext())
            {
                var filter = db.TradeOwners.Where(t => t.Acode == Acode_txt);
                if (filter.Any())
                {
                    var founded = filter.First();
                    string DSMID = founded.Dsmid;
                    string DSRID = founded.Dsrid;
                    string OBAMID = founded.Obamid;
                    string UserID = "";
                    string keyword = "";
                    for (int i = 0; i < 3; i++)
                    {
                        if (i == 0)
                            UserID = DSMID;
                        if (i == 1)
                            UserID = DSRID;
                        if (i == 2)
                            UserID = OBAMID;

                        keyword = "r9gJubvjnn";//Register_TradeOwner_Reject

                        var selectLineUID_filter = db.Users.Where(t => t.UserId == UserID && t.RegisterCheck == true && !string.IsNullOrWhiteSpace(t.LineUid));
                        if (selectLineUID_filter.Any())
                        {
                            var selectLineUID = selectLineUID_filter.First();
                            DataParams Params = new DataParams();
                            Params.acode = Acode_txt;
                            Params.name = lblShopName;

                            DataLines datas = new DataLines();
                            datas.to = selectLineUID.LineUid;
                            datas.keyword_id = keyword;
                            datas.Params = Params;

                            jsondata = Newtonsoft.Json.JsonConvert.SerializeObject(datas).Replace("Params", "params");
                            try
                            {
                                content = my_clsDefault.LineDataReader(jsondata).ReadToEnd();
                                new LogSystemService().InsertLogSendLine("SEND", "RegisterTradeOwnerIncorrect", selectLineUID.LineUid, jsondata, content);
                            }
                            catch (Exception)
                            {
                                new LogSystemService().InsertLogSendLine("ERROR SEND", "RegisterTradeOwnerIncorrect", selectLineUID.LineUid, jsondata, "");
                            }
                        }
                    }
                }
            }
        }
        catch (Exception ex)
        {
            this.OpenErrorDialog(ex.Message);
        }

        spinner_Visible = false;
        await Task.Delay(1);
        StateHasChanged();
    }
    void chk_con()
    {
        if (Agree_Checkbox == false && hdfCorrect == false)
        {
            this.OpenErrorDialog("ท่านไม่ยอมรับข้อกำหนดและเงื่อนไข" + "\n" + "ตามนโยบายคุ้มครองข้อมูลส่วนบุคคล" + "\n" + "หากยืนยัน ปิดหน้าจอนี้แล้วกดปุ่ม “ถูกต้อง”");
            hdfCorrect = true;
        }
        else
        {
            btnCorrect_Click();
        }
    }
    void btnCorrect_Click()
    {
        try
        {
            using (var db = new SHELLREGContext())
            {
                var filter = db.TradeOwners.Where(t => t.Acode == Acode_txt);
                if (filter.Any())
                {
                    var founded = filter.First();
                    founded.LineUid = hdfUID;
                    founded.Agree = Agree_Checkbox;
                    founded.AgreeDate = curr_date_full;
                    founded.RegisterCheck = true;
                    founded.RegisterDate = curr_date_full;
                    founded.LineName = hdfLineName;
                    db.SaveChanges();


                    divhave_Visible = false;
                    divhaved_Visible = false;
                    divcorrect_Visible = true;

                    #region LINE
                    keyword = "edhTjo1RT3";
                    DataParams Params = new DataParams();
                    Params.acode = Acode_txt;
                    Params.name = lblShopName;

                    DataLines datas = new DataLines();
                    datas.to = hdfUID;
                    datas.keyword_id = keyword;
                    datas.Params = Params;

                    jsondata = Newtonsoft.Json.JsonConvert.SerializeObject(datas).Replace("Params", "params");
                    try
                    {
                        content = my_clsDefault.LineDataReader(jsondata).ReadToEnd();
                        new LogSystemService().InsertLogSendLine("SEND", "RegisterTradeOwnerCorrect", hdfUID, jsondata, content);
                    }
                    catch (Exception)
                    {
                        new LogSystemService().InsertLogSendLine("ERROR SEND", "RegisterTradeOwnerCorrect", hdfUID, jsondata, "");
                    }


                    DataTags datatags = new DataTags();
                    string[] tags = { founded.SiteName
                                    , founded.Dsrid
                                    , founded.Acode
                                    , founded.ShopName
                                    , founded.Brand
                                    , founded.ShopType
                                    , founded.CustShopType
                                    , founded.CustSubShopType
                                    , founded.Tier
    };
                    datatags.tags = tags;


                    jsondata = Newtonsoft.Json.JsonConvert.SerializeObject(datatags);
                    try
                    {
                        content = my_clsDefault.LineTag(jsondata, hdfUID).ReadToEnd();
                        new LogSystemService().InsertLogSendLine("TAG", "RegisterTradeOwner", hdfUID, jsondata, content);
                    }
                    catch (Exception)
                    {
                        new LogSystemService().InsertLogSendLine("ERROR TAG", "RegisterTradeOwner", hdfUID, jsondata, "");
                    }


                    string DSMID = founded.Dsmid;
                    string DSRID = founded.Dsrid;
                    string OBAMID = founded.Obamid;
                    string UserID = "";


                    for (int i = 0; i < 3; i++)
                    {
                        keyword = "";
                        if (i == 0)
                        {
                            UserID = DSMID;
                            keyword = "9sw0WA6z00";//Request_Approve_To_DSR/DSM
                        }
                        if (i == 1)
                        {
                            UserID = DSRID;
                            keyword = "9sw0WA6z00";//Request_Approve_To_DSR/DSM
                        }
                        if (i == 2)
                        {
                            UserID = OBAMID;
                            keyword = "nJIBYHMR3i";//Request_Approve_To_OBAM
                        }
                        var selectLineUID_filter = db.Users.Where(t => t.UserId == UserID && t.RegisterCheck == true && !string.IsNullOrWhiteSpace(t.LineUid));
                        if (selectLineUID_filter.Any())
                        {
                            var selectLineUID = selectLineUID_filter.First();

                            Params = new DataParams();
                            Params.acode = Acode_txt;
                            Params.name = lblShopName;

                            datas = new DataLines();
                            datas.to = selectLineUID.LineUid;
                            datas.keyword_id = keyword;
                            datas.Params = Params;

                            jsondata = Newtonsoft.Json.JsonConvert.SerializeObject(datas).Replace("Params", "params");
                            try
                            {
                                content = my_clsDefault.LineDataReader(jsondata).ReadToEnd();
                                new LogSystemService().InsertLogSendLine("SEND", "RegisterTradeOwnerCorrect", selectLineUID.LineUid, jsondata, content);
                            }
                            catch (Exception)
                            {
                                new LogSystemService().InsertLogSendLine("ERROR SEND", "RegisterTradeOwnerCorrect", selectLineUID.LineUid, jsondata, "");
                            }
                        }
                    }
                    #endregion
                }
                else
                {
                    this.OpenErrorDialog(string.Format("ไม่พบข้อมูล TradeOwners.Acode = {0}", Acode_txt));
                }
            }
        }
        catch (Exception ex)
        {
            this.OpenErrorDialog(ex.Message);
        }
    }
    async Task chk_frm()
    {
        spinner_Visible = true;
        await Task.Delay(1);
        if (string.IsNullOrWhiteSpace(Acode_txt) || Acode_txt.Length != 7)
        {
            this.OpenErrorDialog("กรุณากรอก รหัส A-CODE 6 หลัก");
        }
        else
        {
            btnLogin_Click();
        }
        spinner_Visible = false;
        await Task.Delay(1);
        StateHasChanged();
    }
    void btnLogin_Click()
    {
        using (var db = new SHELLREGContext())
        {
            var query_t = db.TradeOwners.Where(t => t.Acode == my_clsDefault.ReplaceText(Acode_txt));
            if (query_t.Any())
            {
                var current_t = query_t.First();
                if (current_t.RegisterCheck != true)
                {
                    lblACode = current_t.Acode;
                    lblShopName = current_t.ShopName;
                    lblSiteName = current_t.SiteName;
                    divcheck_Visible = false;
                    divhave_Visible = true;
                    divhaved_Visible = true;
                }
                else
                {
                    this.OpenErrorDialog("ขออภัย" + "\n" + "รหัสนี้ถูกลงทะเบียนแล้ว");
                }
            }
            else
            {
                this.OpenErrorDialog("ขออภัย" + "\n" + "ไม่พบรหัส A-CODE ของท่าน");
            }
        }
    }
    
    public class DataLines
    {
        public string to { get; set; }
        public string keyword_id { get; set; }
        public DataParams Params { get; set; }
    }
    public class DataParams
    {
        public string text { get; set; }
        public string acode { get; set; }
        public string name { get; set; }
    }
    public class DataTags
    {
        public string[] tags { get; set; }
    }
}

<ModalDialog @ref="modal" OnClose="@OnErrorDialogClose"></ModalDialog>
    @code {

    private ModalDialog modal { get; set; }
    private void OnErrorDialogClose(bool accepted)
    {
        
    }
    private void OpenErrorDialog(string txt)
    {
        modal.Open(txt);
        
    }
    }



<!--masterpagereg-->
<style type="text/css">
    html {
        background: #FED000;
    }

    .footer {
        height: 75px;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 10px;
        background-color: #FFFFFF;
    }

    .footer-fixed {
        position: fixed;
    }

    input.login-button, input.login-button:hover, input.login-button:focus {
        font-weight: normal;
    }

    .login-page {
        margin-top: 0;
    }

    .login-page-desc {
        padding: 0;
    }

        .login-page-desc p {
            font-size: 20px;
            font-weight: bold;
        }

        .login-page-desc span {
            font-size: 18px;
        }

    .btn {
        padding: 12px;
        font-size: 18px;
    }

    .form-control {
        height: 34px;
        padding: 6px 12px;
    }

    .doupadding {
        padding-right: 0;
    }

    .douright {
        float: right;
    }
</style>