@page "/dealerlist"
@using ClosedXML.Excel
@using Shell.Data
@using Shell.Model
@inject IJSRuntime js

@using Microsoft.Extensions.Configuration
@using Shell.XLS
@inject IConfiguration Configuration
<div>
    <UserControl ID="myUserControl"></UserControl>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 title-head">
                    <h1><img src="Resource/img/icon-alert.png" alt="" />ข้อมูลร้านค้า</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">ข้อมูลร้านค้า</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-5 rows">
                                            <div class="input-group">
                                                <input type="text" id="keyword" class="form-control" placeholder="พิมพ์ค้นหา" @bind="SearchTxt" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 rows">
                                            <div class="input-group">
                                                <select ID="field_select" class="form-control" @bind="SearchSelected">
                                                    <option Value="ShopName">ชื่อร้าน</option>
                                                    <option Value="ContactName">ชื่อผู้ติดต่อ</option>
                                                    <option Value="ACode">รหัสผู้ใช้งาน</option>
                                                    <option Value="Site">เขต</option>
                                                    <option Value="ShopType">ประเภท</option>
                                                    <option Value="Tier">ประเภทย่อย</option>
                                                    <option Value="DSM.Fullname">ชื่อ DSM</option>
                                                    <option Value="DSR.Fullname">ชื่อ DSR</option>
                                                    <option Value="OBAM.Fullname">ชื่อ OBAM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row searchs">
                                        <div class="col-md-6">
                                            <input type="button" id="submit" class="btn btn-success login-button" @onclick="btnSearch_Click" value="ค้นหา" />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="button" class="btn btn-default" value="เคลียร์" @onclick="btnClear_Click" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (divsuccess_Visible)
            {
                <div id="divsuccess" class="alert alert-success" role="alert">@lblSuccess<button type="button" ID="btnExportSuccess" @onclick="btnExportSuccess_Click" class="btn btn-default" style="float:right;">ผลการนำข้อมูลเข้า</button></div>
            }
            @if (diverror_Visible)
            {
                <div id="diverror" class="alert alert-danger" role="alert">@lblMsg</div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="table-page text-right form-inline">
                        <div ID="hplPoint" class="btn btn-default" data-toggle="modal" data-target="#modalpoint" Visible="false"><i class="glyphicon glyphicon-save-file"></i> Update Points</div>
                        <div ID="hplImport" class="btn btn-default" @onclick=OpenImportModal Visible="false"><i class="glyphicon glyphicon-save-file"></i> นำข้อมูลเข้า</div>
                        <div ID="hplExport" class="btn btn-default" Visible="false" @onclick=btnExport_Click><i class="glyphicon glyphicon-open-file"></i> นำข้อมูลออก</div>
                        <div ID="btnExport" Text="นำข้อมูลออก" OnClick="btnExport_Click" class="hidden" />
                    </div>
                </div>
            </div>

            <PagingComponent TotalRow="searchData_iquery.Count()" ComponentPageNumber="pageNumber" ComponentPageSize="pageSize"
                             OnChange="@((args)=> PagingCalledBack(args.Item1,args.Item2))"></PagingComponent>
            <div class="row">
                <div class="col-md-12">
                    <div id="no-more-tables">
                        <table class="table-bordered table-striped table-condensed tables">
                            <thead id="thContent">
                                <tr>
                                    <th>รหัสผู้ใช้งาน</th>
                                    <th>ชื่อร้านค้า</th>
                                    <th>ชื่อผู้ติดต่อ</th>
                                    <th>เขต</th>
                                    <th>ประเภท</th>
                                    <th>ประเภทย่อย</th>
                                    <th>LINE UID</th>
                                    <th>DSM</th>
                                    <th>DSR</th>
                                    <th>OBAM</th>
                                    <th>Point</th>
                                </tr>
                            </thead>
                            <tbody id="tbContent">
                                @foreach (var shopitem in searchDataPaged)
                                {
                                    <tr>
                                        <td>@shopitem.Acode</td>
                                        <td>@shopitem.ShopName</td>
                                        <td>@shopitem.ContactName</td>
                                        <td>@shopitem.Site</td>
                                        <td>@shopitem.ShopType</td>
                                        <td>@shopitem.Tier</td>
                                        <td>@shopitem.LineUid</td>
                                        <td>@shopitem.DSMName</td>
                                        <td>@shopitem.DSRName</td>
                                        <td>@shopitem.OBAMName</td>
                                        <td>@shopitem.CurrentPoint</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <PagingComponent TotalRow="searchData_iquery.Count()" ComponentPageNumber="pageNumber" ComponentPageSize="pageSize"
                             OnChange="@((args)=> PagingCalledBack(args.Item1,args.Item2))"></PagingComponent>
        </div>
    </div>
    <ModalImport @ref="import_modal" OnClose="@OnImportModalClose"
                 @bind-DivErrorVisible="diverror_Visible" @bind-ErrorMessage="lblMsg" @bind-DivSuccessVisible="divsuccess_Visible" @bind-SuccessMessage="lblSuccess"
                 GoSearch="@btnSearch_Click" @bind-ImportDataParam="importeddata"></ModalImport>
    <div class="modal fade" id="modalpoint" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border:0;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 rows">
                            <div class="input-group text-center">
                                <label class="col-form-label">คุณยืนยันที่จะ Update Point ใช่หรือไม่</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border:0;">
                    <div class="row">
                        <div class="col-md-3">&nbsp;</div>
                        <div class="col-md-3"><Button ID="btnPoint" Text="ตกลง" OnClick="btnPoint_Click" class="btn btn-success btn-block login-button" /></div>
                        <div class="col-md-3"><button type="button" class="btn btn-default btn-block" data-dismiss="modal">ยกเลิก</button></div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>
@code {
    public List<DealerListSearchData> searchData_iquery;
    public List<DealerListSearchData> searchDataPaged;

    public string? SearchTxt;
    public string? SearchSelected = "ShopName";

    [Inject]
    private IConfiguration configuration { get; set; }
    private int pageSize = 5;
    private int pageNumber = 1;
    private int totalPage;


    private ModalImport import_modal { get; set; }
    public string? lblSuccess;

    public bool diverror_Visible = false;
    public bool divsuccess_Visible = false;
    public string? lblMsg;

    public List<MasterExcelImportData> importeddata { get; set; }

    protected override void OnInitialized()
    {
        this.pageSize = int.Parse(configuration["PageSize"]);
        using (var db = new SHELLREGContext())
        {
            var query = this.QuerySearch(db);
            var filtered = this.Specify(query);
            this.SetData(filtered);
        }
    }
    IQueryable<DealerListSearchData> QuerySearch(SHELLREGContext db)
    {
        var query = (
            from TradeOwner in db.TradeOwners.Where(t1 => t1.Acode != "")
            from DSM in db.Users.Where(DSM => TradeOwner.Dsmid == DSM.UserId && DSM.Position == "DSM").DefaultIfEmpty()
            from DSR in db.Users.Where(DSR => TradeOwner.Dsmid == DSR.UserId && DSR.Position == "DSR").DefaultIfEmpty()
            from OBAM in db.Users.Where(OBAM => TradeOwner.Dsmid == OBAM.UserId && OBAM.Position == "OBAM").DefaultIfEmpty()

            select new DealerListSearchData
                {
                    total = 0,
                    Rows = 0,
                    Acode = TradeOwner.Acode,
                    ShopName = TradeOwner.ShopName,
                    ContactName = TradeOwner.ContactName,
                    Site = TradeOwner.Site,
                    ShopType = TradeOwner.ShopType,
                    Tier = TradeOwner.Tier,
                    LineUid = TradeOwner.LineUid,
                    DSMName = DSM.Fullname,
                    DSRName = DSR.Fullname,
                    OBAMName = OBAM.Fullname,
                    CurrentPoint = 0,
                }
        );
        return query;
    }

    IQueryable<DealerListSearchData> Specify(IQueryable<DealerListSearchData> query)
    {
        IQueryable<DealerListSearchData> filtered;
        if (string.IsNullOrWhiteSpace(SearchTxt))
        {
            return query;
        }
        switch (SearchSelected)
        {
            case "ShopName":
                {
                    filtered = query.Where(t => t.ShopName.Contains(SearchTxt));
                    break;
                }
            case "ContactName":
                {
                    filtered = query.Where(t => t.ContactName.Contains(SearchTxt));
                    break;
                }
            case "ACode":
                {
                    filtered = query.Where(t => t.Acode.Contains(SearchTxt));
                    break;
                }
            case "Site":
                {
                    filtered = query.Where(t => t.Site.Contains(SearchTxt));
                    break;
                }
            case "Tier":
                {
                    filtered = query.Where(t => t.Tier.Contains(SearchTxt));
                    break;
                }
            case "DSM.Fullname":
                {
                    filtered = query.Where(t => t.DSMName.Contains(SearchTxt));
                    break;
                }
            case "DSR.Fullname":
                {
                    filtered = query.Where(t => t.DSRName.Contains(SearchTxt));
                    break;
                }
            case "OBAM.Fullname":
                {
                    filtered = query.Where(t => t.OBAMName.Contains(SearchTxt));
                    break;
                }
            default:
                {
                    filtered = query;
                    break;
                }
        }
        return filtered;
    }

    void SetData(IQueryable<DealerListSearchData> query)
    {
        this.pageNumber = 1;
        this.searchData_iquery = query.ToList();
        this.totalPage = (int)Math.Ceiling(query.Count() / (pageSize * 1.00));
        this.searchDataPaged = this.searchData_iquery.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList();
    }

    void btnSearch_Click()
    {
        using (var db = new SHELLREGContext())
        {
            var query = this.QuerySearch(db);
            var filtered = this.Specify(query);
            this.SetData(filtered);
        }
    }
    void btnClear_Click()
    {
        this.SearchTxt = "";
        this.SearchSelected = "ShopName";
        btnSearch_Click();
    }

    void PagingCalledBack(int PageChage, bool isSliding)
    {
        if (isSliding)
        {
            pageNumber = PageChage;
        }
        else
        {
            pageNumber += PageChage;
        }
        this.searchDataPaged = this.searchData_iquery.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList();
    }


    #region ImportModal
    private void OnImportModalClose(bool accepted)
    {
        //StateHasChanged();
    }
    private void OpenImportModal()
    {
        import_modal.OpenMyDisplay();
        //StateHasChanged();
    }

    #endregion

    private async void btnExportSuccess_Click()
    {
        var xls = new Excel();
        await xls.GenerateMasterExcelImportDataAsync(js, importeddata, "export.xlsx");
    }

    public async void btnExport_Click()
    {
        var xls = new Excel();
        await xls.GenerateMasterExcelImportDataAsync(js, searchData_iquery, "export.xlsx");
    }
}
