@page "/lotsync"
    <link href="Resource/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Resource/css/sb-admin.css" rel="stylesheet" type="text/css" />
    <link href="Resource/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @*<link href="Resource/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />*@
    <link href="Resource/css/cos.css" rel="stylesheet" type="text/css" />
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 title-head">
                <h1><img src="Resource/img/report.png" alt="" />Error Lot รายการที่ไม่ถูกส่งไประบบ SHARE</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">รายการ Error Lot</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 rows">
                                <div class="input-group">
                                    <select id="field_select" class="form-control" @bind="lotnoSelected">
                                        <option Value="">Lot No.</option>
                                        <option Value="0">ยังไม่ได้ Gen Lot No.</option>
                                        @foreach (var each in LotNoList)
                                        {
                                            <option Value="@each.value">@each.text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row searchs">
                                    <div class="col-md-6">
                                        <input type="button" value="ค้นหา" id="btnSearch" class="btn btn-success" @onclick="btnSearch_Click" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="button" class="btn btn-default" value="เคลียร์" onclick="location.href='lotsync';" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div
        @if (divsuccess_Visible)
        {
        <div id="divsuccess"   class="alert alert-success" role="alert">@lblSuccess</div>
        }
        @if (diverror_Visible)
        {
        <div id="diverror"   class="alert alert-danger" role="alert">@lblMsg</div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="table-page text-right form-inline">
                    @if (chkSync_Visible)
                    {
                        <input type="checkbox" id="chkSync"  Text="" class="checkbox checkbox-success"  />
                        <label for="chkSync">All</label>
                            }
                    @if (hplSync_Visible)
                    {
                        <button id="hplSync"  class="btn btn-success" @onclick="OpenSyncModal" >Sync Data</button>
                    }
                </div>
            </div>
        </div>
        <PagingComponent TotalRow="searchData_iquery.Count()" ComponentPageNumber="pageNumber" ComponentPageSize="pageSize"
                         OnChange="@((args)=> PagingCalledBack(args.Item1,args.Item2))"></PagingComponent>
        <div class="row">
            <div class="col-md-12">
                <div id="no-more-tables">
                    <table class="table-bordered table-striped table-condensed tables">
                        <thead id="thContent">
                            <tr>
                                <th width="20%">Lot No.</th>
                                <th width="20%">เลขที่รายการสั่งซื้อ</th>
                                <th width="20%">ResponseCode</th>
                                <th width="40%">Msg</th>
                            </tr>
                        </thead>
                        <tbody id="tbContent">
                            @foreach (var eachitem in searchDataPaged)
                            {
                                <tr>
                                    <td align="center">@eachitem.LotNo</td>
                                    <td align="center">@eachitem.InvoiceNo</td>
                                    <td align="center">@eachitem.lblResponseCode"</td>
                                    <td>@eachitem.lblMsg</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <PagingComponent TotalRow="searchData_iquery.Count()" ComponentPageNumber="pageNumber" ComponentPageSize="pageSize"
                         OnChange="@((args)=> PagingCalledBack(args.Item1,args.Item2))"></PagingComponent>
    </div>
</div>
@inject IJSRuntime jsRuntime
@inject ISecure secure
@inject IPopulate pop
@inject IclsDefault my_clsDefault
@inject Blazored.LocalStorage.ILocalStorageService _sessionStorage
@using BlazorDateRangePicker
@using Shell.Data 
@using Shell.Data.ExcelData 
@using Shell.Data.SearchData
@using Shell.Model
@using Shell.Service

@code {
    //html
    public string lblSuccess { get; set; }
    public string lblMsg { get; set; }
    public string lblResponseCode { get; set; }
    public string? lotnoSelected { get; set; }
    public List<ListItem> LotNoList = new List<ListItem>();
    //html visible
    public bool divsuccess_Visible = false;
    public bool diverror_Visible = false;
    public bool chkSync_Visible = false;
    public bool hplSync_Visible = false;

    [Inject]
    private IConfiguration configuration { get; set; }
    private int pageSize = 5;
    private int pageNumber = 1;
    private int totalPage;

    public List<LotSyncSeachData> searchData_iquery = new List<LotSyncSeachData>();
    public List<LotSyncSeachData> searchDataPaged = new List<LotSyncSeachData>();

    void btnSearch_Click()
    {
        
    }

    void PagingCalledBack(int PageChage, bool isSliding)
    {
        if (isSliding)
        {
            pageNumber = PageChage;
        }
        else
        {
            pageNumber += PageChage;
        }
        this.searchDataPaged = this.searchData_iquery.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList();
    }
}



@if (ShowBackdrop)
{
    <div class="modal-backdrop fade in"></div>
}
@code {
    public bool ShowBackdrop = false;
}


<div class="modal @SyncModalClass" id="modalimport" tabindex="-1" role="dialog" style="display:@SyncModalDisplay">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:0;">
                <button type="button" class="close" @onclick="CloseSyncModal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div id="divgenlot">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 rows">
                            <div class="input-group text-center">
                                <label class="col-form-label">ต้องการ Sync Data ใช่หรือไม่?</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border:0;">
                    <div class="row">
                        <div class="col-md-3">&nbsp;</div>
                        <div class="col-md-3"><button type="button" class="btn btn-default btn-block" @onclick="CloseSyncModal">ยกเลิก</button></div>
                        <div class="col-md-3"><button ID="btnSync"  @onclick="btnSync_Click" class="btn btn-success btn-block login-button linkload">ตกลง</button></div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
    </div>
</div>

@code{
    //Modal OPEN CLOSE CHANGEVIEW
    public string SyncModalDisplay = "none;";
    public string SyncModalClass = "";

    private void OpenSyncModal()
    {
        SyncModalDisplay = "block;";
        SyncModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }
    public void CloseSyncModal()
    {
        SyncModalDisplay = "none";
        SyncModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    void btnSync_Click()
    {
        
    }
}
