@page "/productpointlist"



<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 title-head">
                <h1><img src="Resource/img/config.png" alt="" />ข้อมูลแต้มสินค้า</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">ข้อมูลสินค้า</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3 rows">
                                        <div class="input-group">
                                            <input type="text" id="keyword" class="form-control" placeholder="พิมพ์ค้นหา" @bind="SearchTxt" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 rows">
                                        <div class="input-group">
                                            <select id="field_select" class="form-control" @bind="field_selected">
                                                <option Value="MaterialCode">รหัสสินค้า</option>
                                                <option Value="ProductName">ชื่อสินค้า</option>
                                                <option Value="ProductModel">รุ่นสินค้า</option>
                                                <option Value="ProductCarType">ประเภทรถ</option>
                                                <option Value="ProductVis">ค่าความหนืด</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 rows">
                                        <div class="input-group">
                                            <select id="field_select" class="form-control" @bind="producttype_selected">
                                                <option Value="">ประเภทสินค้า</option>
                                                <option Value="1">สินค้าปกติ</option>
                                                <option Value="2">สินค้าโปรฯ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row searchs">
                                    <div class="col-md-6">
                                        <input type="button" value="ค้นหา" id="btnSearch" class="btn btn-success" @onclick="btnSearch_Click" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="button" class="btn btn-default" value="เคลียร์" onclick="location.href='productpointlist';" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (divsuccess_Visible)
        {
            <div id="divsuccess" visible="false" class="alert alert-success" role="alert">
                @lblSuccess
                <button type="button" id="btnExportSuccess" class="btn btn-default" style="float:right;">ผลการนำข้อมูลเข้า</button>
            </div>
        }
        @if (diverror_Visible)
        {
            <div id="diverror" visible="false" class="alert alert-danger" role="alert">
                @lblMsg
            </div>
        }
        @if (divpicture_Visible)
        {
            <div id="divpicture" visible="false" class="alert alert-info" role="alert">
                @lblPic
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="table-page text-right form-inline">
                    @if (hplPoint_Visible)
                    {
                        <a id="hplPoint" class="btn btn-default" @onclick=@OpenPointModal ><i class="glyphicon glyphicon-save-file"></i> อัพเดตแต้ม</a>
                    }
                    @if (hplImport_Visible)
                    {
                        <a id="hplImport" class="btn btn-default" @onclick=@OpenImportModal ><i class="glyphicon glyphicon-save-file"></i> อัพเดตแต้มจาก Share</a>
                    }
                    @if (hplExport_Visible)
                    {
                        <a id="hplExport" class="btn btn-default linkload" @onclick=@btnExport_Click ><i class="glyphicon glyphicon-open-file"></i> นำข้อมูลออก</a>
                        <button id="btnExport" OnClick="btnExport_Click" class="hidden">นำข้อมูลออก</button>
                    }
                </div>
            </div>
        </div>

        <PagingComponent TotalRow="searchData_iquery.Count()" ComponentPageNumber="pageNumber" ComponentPageSize="pageSize"
                         OnChange="@((args)=> PagingCalledBack(args.Item1,args.Item2))"></PagingComponent>
        <div class="row">
            <div class="col-md-12">
                <div id="no-more-tables">
                    <table class="table-bordered table-striped table-condensed tables">
                        <thead id="thContent">
                            <tr>
                                <th width="15%">Material Code</th>
                                <th width="25%">ชื่อสินค้า</th>
                                <th width="15%">รุ่นสินค้า</th>
                                <th width="10%">ประเภทรถ</th>
                                <th width="10%">ค่าความหนืด</th>
                                <th width="10%">ประเภทสินค้า</th>
                                <th width="10%">SHARECode</th>
                                <th width="5%">แต้มสินค้า</th>
                            </tr>
                        </thead>
                        <tbody id="tbContent">
                            @foreach (var eachitem in searchDataPaged)
                            {
                                <tr>
                                    <td>@eachitem.MaterialCode</td>
                                    <td>@eachitem.ProductName</td>
                                    <td>@eachitem.ProductModel</td>
                                    <td>@eachitem.ProductCarType</td>
                                    <td>@eachitem.ProductVis</td>
                                    <td>@eachitem.ProductTypeName</td>
                                    <td>@eachitem.SHARECode</td>
                                    <td align="center">
                                        <button type='button' class='btn btn-secondary' data-toggle='tooltip' data-placement='left' data-html='true' title='Point'>
                                            ดูแต้ม
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <PagingComponent TotalRow="searchData_iquery.Count()" ComponentPageNumber="pageNumber" ComponentPageSize="pageSize"
                         OnChange="@((args)=> PagingCalledBack(args.Item1,args.Item2))"></PagingComponent>
    </div>
</div>

@inject IJSRuntime js
@using ClosedXML.Excel
@using OfficeOpenXml
@using Shell.Data
@using Shell.Model
@using Shell.Service
@using Shell.XLS
@inject IclsDefault my_clsDefault
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject ISecure secure

@code {
    //Searching
    public string field_selected = "MaterialCode";
    public string producttype_selected = "";
    public string statusSelected = "";
    public string? SearchTxt;
    public List<ProductPointListSearchData> searchData_iquery = new List<ProductPointListSearchData>();
    public List<ProductPointListSearchData> searchDataPaged = new List<ProductPointListSearchData>();

    //ImportExportDescription
    public bool divsuccess_Visible = false;
    public bool diverror_Visible = false;
    public bool divpicture_Visible = false;
    public bool hplImport_Visible = false;
    public bool hplPoint_Visible = false;
    public bool hplExport_Visible = false;
    public string lblSuccess = "";
    public string lblMsg = "";
    public string lblPic = "";

    //paging
    [Inject]
    private IConfiguration configuration { get; set; }
    private int pageSize = 5;
    private int pageNumber = 1;
    private int totalPage;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!(await secure.Page_Init()))
            {
                return;
            }
            await Authorize();
            this.pageSize = int.Parse(configuration["PageSize"]);
            using (var db = new SHELLREGContext())
            {
                var query = this.QuerySearch(db);
                var filtered = this.Specify(query);
                this.SetData(filtered);
            }
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task Authorize()
    {
        int chk_authorize1 = await secure.Check_Menu_Authorize("3");
        int chk_authorize2 = await secure.Check_Document_Authorize("6", "3");
        if (chk_authorize1 == 0 || chk_authorize2 == 0)
        {
            Console.Write("<br /><br /><center>ท่านไม่ได้รับสิทธิในการใช้งานส่วนนี้ <a href='Javascript:void(0);' onclick='history.back();'>ย้อนกลับ</a></center>");
            //Response.End();
        }
        else
        {
            int Create_Per = await secure.Check_Document_Authorize("6", "1");
            int Edit_Per = await secure.Check_Document_Authorize("6", "2");
            if (Create_Per == 1 && Edit_Per == 1)
            {
                hplImport_Visible = true;
                hplPoint_Visible = true;
            }
            int Export_Per = await secure.Check_Document_Authorize("6", "7");
            if (Export_Per == 1)
            {
                hplExport_Visible = true;
            }
        }
    }


    IEnumerable<ProductPointListSearchData> QuerySearch(SHELLREGContext db)
    {
        var query = (
            from Product in db.Products.Where(t1 => !string.IsNullOrWhiteSpace(t1.MaterialCode))
            join pt in db.ProductTypes on Product.ProductType equals pt.ProductType1.ToString()

            select new ProductPointListSearchData()
                {
                    MaterialCode = Product.MaterialCode,
                    ProductName = Product.ProductName,
                    ProductModel = Product.ProductModel,
                    ProductCarType = Product.ProductCarType,
                    ProductVis = Product.ProductVis,
                    ProductTypeName = pt.ProductTypeName,
                    StartDate = Product.StartDate,
                    EndDate = Product.EndDate,
                //SHARECode = Product.SHARECode,
                //Point = Product.Point,
                }
        );
        return query;
    }

    IEnumerable<ProductPointListSearchData> Specify(IEnumerable<ProductPointListSearchData> query)
    {
        var filtered = query;
        return filtered;
    }

    void SetData(IEnumerable<ProductPointListSearchData> query)
    {
        this.pageNumber = 1;
        this.searchData_iquery = query.ToList();
        this.totalPage = (int)Math.Ceiling(query.Count() / (pageSize * 1.00));
        this.searchDataPaged = this.searchData_iquery.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList();
    }
    void PagingCalledBack(int PageChage, bool isSliding)
    {
        if (isSliding)
        {
            pageNumber = PageChage;
        }
        else
        {
            pageNumber += PageChage;
        }
        this.searchDataPaged = this.searchData_iquery.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList();
    }
    public void btnSearch_Click()
    {
        using (var db = new SHELLREGContext())
        {
            var query = this.QuerySearch(db);
            var filtered = this.Specify(query);
            this.SetData(filtered);
        }
    }
    public async void btnExport_Click()
    {
        /*CustSubShopType missing*/
        using (var db = new SHELLREGContext())
        {
            var query = this.QueryExport(db);
            var filtered = this.SpecifyExport(query);
            var xls = new Excel();
            //await xls.GenerateProductPointListExcelImportDataAsync(js, filtered.ToList(), "export.xlsx");

        }
    }
    IEnumerable<ProductPointListExcelImportData> QueryExport(SHELLREGContext db)
    {
        return null;
    }

    IEnumerable<ProductPointListExcelImportData> SpecifyExport(IEnumerable<ProductPointListExcelImportData> query)
    {
        var filtered = query;
        return filtered;
    }

}

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade in"></div>
}
@code {
    public bool ShowBackdrop = false;
}
<div class="modal @ImportModalClass" id="modalimport" tabindex="-1" role="dialog" style="display:@ImportModalDisplay">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:0;">
                <button type="button" class="close" @onclick="@CloseImportModal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 rows">
                        <div class="input-group text-center">
                            <label class="col-form-label">คุณยืนยันที่จะอัพเดตแต้มจาก Share ใช่หรือไม่</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:0;">
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-3"><button id="btnOK" @onclick=@btnOK_Click class="btn btn-success btn-block login-button">ตกลง</button></div>
                    <div class="col-md-3"><button type="button" class="btn btn-default btn-block" @onclick="@CloseImportModal">ยกเลิก</button></div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
    </div>
</div>

@code {
    public string ImportModalDisplay = "none;";
    public string ImportModalClass = "";
    private void OpenImportModal()
    {
        ImportModalDisplay = "block;";
        ImportModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }
    public void CloseImportModal()
    {
        ImportModalDisplay = "none";
        ImportModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
    public void btnOK_Click()
    {

    }
}

<div class="modal @PointModalClass" id="modalpoint" tabindex="-1" role="dialog" style="display:@PointModalDisplay">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:0;">
                <button type="button" class="close" @onclick="@ClosePointModal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 rows">
                        <div class="input-group text-center">
                            <label class="col-form-label">คุณยืนยันที่จะอัพเดตแต้มใช่หรือไม่</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:0;">
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-3">
                        <button type="button" id="btnImport" @onclick=@btnPoint_Click class="btn btn-success btn-block login-button">ตกลง</button>
                    </div>
                    <div class="col-md-3"><button type="button" class="btn btn-default btn-block" @onclick="@ClosePointModal">ยกเลิก</button></div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
    </div>
</div>

@code {
    public string PointModalDisplay = "none;";
    public string PointModalClass = "";

    private void OpenPointModal()
    {
        PointModalDisplay = "block;";
        PointModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }
    public void ClosePointModal()
    {
        PointModalDisplay = "none";
        PointModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    public void btnPoint_Click()
    {

    }
}